@media only screen and (max-width: 700px) {
    .Face {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(173deg, var(--primary) 70%, var(--secondary) calc(70% + 2px));
        height: 92vh;
        width: 100vw;
    }

    .color {
        color: var(--text);
    }

    .icon {
        cursor: pointer;
        font-size: large;
        margin-left: 3px;
    }

    .icons {
        flex-direction: column;
        align-self: center;
        padding-left: 20px;
        padding-right: 30px;
    }

    .mob1 {
        margin-left: 20px;
        margin-right: 5px;
    }

    .big {
        font-size: 40px;
    }

    .image {
        width: 0px;
        height: 0px;
    }

    /*
        ABOUT
    */

    .About {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;      
        height: 100vh;
        background: linear-gradient(-173deg, var(--secondary) 70%, var(--tertiary) calc(70% + 2px));
    }

    .content {
        width: 90%;
        font-size: medium;
    }

    /*
        Tech
    */

    .Tech {
        display: flex;
        flex-direction: column;
        background: linear-gradient(-173deg, var(--tertiary) 70%, var(--quaternary) calc(70% + 2px));
        min-height: 100vh;
        overflow: hidden;
    }

    .head {
        align-self: center;
        color: var(--text);
        font-size: 30px;
    }

    .card {
        background: rgba( 255, 255, 255, 0.10 );
        /* box-shadow: 0 8px 20px 0 rgba(156, 157, 161, 0.37); */
        backdrop-filter: blur( 2.0px );
        -webkit-backdrop-filter: blur( 2.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin-top: 40px;
    }

    .suffice {
        margin-top: 0px;
    }

    .cards {
        align-self: center;
    }

    .card-text {
        color: var(--text);
    }

    .card-title {
        color: var(--text);
    }

    /*
        BLOGS
    */

    .Works {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        padding-top: 30px;
        background: linear-gradient(-173deg, var(--quaternary) 70%, var(--secondary) calc(70% + 2px));
    }
    
    .work-cards {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
    }

    .work-card {
        background-color: inherit;
        cursor: pointer;
        margin-top: 20px;
    }

    .card-img {
        height: 180px;
        padding: 5px;
        border-radius: 10px;
    }

    /*
        CONTACT
    */

    .Contact {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        background: linear-gradient(173deg, var(--secondary) 70%, var(--primary) calc(70% + 2px));
    }

    .Contact form {
        margin: 0 auto;
        width: 250px;
    }

    .textarea {
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .formcard {
        justify-content: center;
        width: 300px;
        height: 450px;
    }

    .mob3 {
        flex-direction: column;
    }

    .mob-size {
        font-size: 30px;
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 100px;
    }

    p {
        color: var(--text);
    }

    /*
        FOOTER
    */

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        width: 100%;
        height: 60px;
        border-top: 1px solid rgba(92, 87, 87, 0.58);
    }
}