@media only screen and (min-width: 800px) {
    /*
        FACE
    */
    .Face {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(173deg, var(--primary) 70%, var(--secondary) calc(70% + 2px));
        height: 100vh;
    }

    .color {
        color: var(--text);
    }

    .big {
        font-size: 60px;
    }

    .icons {
        flex-direction: column;
        align-self: center;
        padding-left: 20px;
        padding-right: 40px;
    }

    .image {
        align-self: center;
        width: 450px;
        height: 500px;
    }

    /*
        Tech
    */

    .Tech {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(-173deg, var(--secondary) 70%, var(--tertiary) calc(70% + 2px));
        height: 100vh;
    }

    .tech-head {
        align-self: center;
        color: var(--text);
    }

    .card {
        background: rgba( 255, 255, 255, 0.1 );
        backdrop-filter: blur( 5.0px );
        -webkit-backdrop-filter: blur( 5.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .card-text, .card-title {
        color: var(--text);
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /*
        CONTACT
    */

    .Contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(173deg, var(--tertiary) 70%, var(--secondary) calc(70% + 2px));
    }

    .formcard {
        justify-content: center;
        width: 700px;
        padding-bottom: 30px;
    }
    
    .Contact form {
        margin: 0 auto;
        width: 600px;
    }

    .textarea {
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 100px;
    }

    p {
        color: var(--text);
    }
    
}

@media only screen and (max-width: 800px) {
    .Face {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(173deg, var(--primary) 70%, var(--secondary) calc(70% + 2px));
        height: 92vh;
        width: 100vw;
    }

    .color {
        color: var(--text);
    }

    .icon {
        cursor: pointer;
        font-size: large;
        margin-left: 3px;
    }

    .icons {
        flex-direction: column;
        align-self: center;
        padding-left: 10px;
        padding-right: 30px;
    }

    .mob1 {
        margin-left: 10px;
        margin-right: 5px;
    }

    .big {
        font-size: 50px;
    }

    .image {
        width: 0px;
        height: 0px;
    }

    /*
        Tech
    */

    .Tech {
        display: flex;
        flex-direction: column;
        background: linear-gradient(-173deg, var(--secondary) 70%, var(--tertiary) calc(70% + 2px));
        height: 160vh;
        width: 100vw;
        padding-top: 30px;
    }

    .tech-head {
        align-self: center;
        color: var(--text);
    }

    .card {
        background: rgba( 255, 255, 255, 0.10 );
        box-shadow: 0 8px 20px 0 rgba(156, 157, 161, 0.37);
        backdrop-filter: blur( 2.0px );
        -webkit-backdrop-filter: blur( 2.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin-top: 40px;
    }

    .suffice {
        margin-top: 0px;
    }

    .cards {
        align-self: center;
    }

    .card-text {
        color: var(--text);
    }

    .card-title {
        color: var(--text);
    }

    /*
        CONTACT
    */

    .Contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background: linear-gradient(173deg, var(--tertiary) 70%, var(--secondary) calc(70% + 2px));
    }

    .Contact form {
        margin: 0 auto;
        width: 250px;
    }

    .textarea {
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .formcard {
        justify-content: center;
        width: 300px;
        height: 450px;
    }

    .mob3 {
        flex-direction: column;
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 100px;
    }

    p {
        color: var(--text);
    }
}

@media only screen and (min-width: 1700px) {
    .image {
        width: 700px;
        height: 800px;
    }
}