@media only screen and (min-width: 700px) {
    /*
        FACE
    */
    .Face {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(173deg, var(--primary) 70%, var(--secondary) calc(70% + 2px));
        min-height: 100vh;
        overflow: hidden;
    }

    .color {
        color: var(--text);
    }

    .big {
        font-size: 60px;
    }

    .icons {
        flex-direction: column;
        align-self: center;
        padding-left: 20px;
        padding-right: 40px;
    }

    .image {
        align-self: center;
        width: 450px;
        height: 500px;
    }
    /*
        ABOUT
    */

    .About {
        display: flex;
        justify-content: space-around;        
        min-height: 75vh;
        overflow: hidden;
        padding-top: 35px;
        background: linear-gradient(-173deg, var(--secondary) 70%, var(--tertiary) calc(70% + 2px));
    }

    .content {
        width: 50%;
        font-size: larger;
    }

    /*
        Tech
    */

    .Tech {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(173deg, var(--tertiary) 70%, var(--quaternary) calc(70% + 2px));
        min-height: 80vh;
        overflow: hidden;
    }

    .head {
        align-self: center;
        font-size: 50px;
        color: var(--text);
    }

    .card {
        background: rgba( 255, 255, 255, 0.1 );
        backdrop-filter: blur( 5.0px );
        -webkit-backdrop-filter: blur( 5.0px );
        border-radius: 10px;
        margin-top: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .card-text, .card-title {
        color: var(--text);
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 30px;
    }

    /*
        BLOGS
    */

    .Works {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        padding-top: 30px;
        background: linear-gradient(-173deg, var(--quaternary) 70%, var(--secondary) calc(70% + 2px));
    }

    .work-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 30px;
    }
    
    .work-card {
        background-color: inherit;
        cursor: pointer;
    }

    .card-img {
        height: 180px;
        padding: 5px;
        border-radius: 10px;
    }

    /*
        CONTACT
    */

    .Contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        padding: 50px;
        background: linear-gradient(173deg, var(--secondary) 70%, var(--primary) calc(70% + 2px));
    }

    .formcard {
        justify-content: center;
        width: 700px;
        padding-bottom: 30px;
    }
    
    .Contact form {
        margin: 0 auto;
        width: 600px;
    }

    .textarea {
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 100px;
    }

    p {
        color: var(--text);
    }

    /*
        FOOTER
    */

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        width: 100%;
        height: 80px;
        border-top: 1px solid rgba(92, 87, 87, 0.58);
    }
}
