.App {
    /* background-color: #3d3939; */
    height: 100vh;
    /* width: 100vw; */
    --text: #d7d7d7;
    --primary: #3d3939;
    --secondary: #363232;
    --tertiary: #2e2929;
}

@media only screen and (min-width: 800px) {
    .Nav {
        background-color: 'transparent';
    }

    .NavPos {
        padding-right: 50px;
    }

    .effect::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #d7d7d7;
        transition: width .3s ease-out;
    }

    .effect:hover::after {
        width: 100%;
    }
}

@media only screen and (max-width: 1080px) {
    .Nav {
        background-color: #3d3939;
    }
}