.App {
    /* background-color: #3d3939; */
    height: 100vh;
}

.Nav {
    background-color: #3d3939;
}

.NavPos {
    padding-right: 50px;
}

.effect::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #d7d7d7;
    transition: width .3s ease-out;
}

.effect:hover::after {
    width: 100%;
}