body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #d7d7d7;
}

input[type="text"]::-webkit-input-placeholder {
  color: #d7d7d7;
}

select.form-control,
textarea.form-control,
input.form-control,
textarea:focus.form-control,
input:focus.form-control {
  font-size: 1rem;
  color: #d7d7d7;
}

input:-webkit-autofill { 
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #d7d7d7 !important;
}
